.panel h4 {
    overflow-wrap: unset;
    -webkit-hyphens: unset;
    -ms-hyphens: unset;
    hyphens: unset;
    text-transform: initial;
}
.panel .donation_button.btn {

}




.panel .arbitrary_price_form_group {
    margin-top: 12px;
    padding: 0;
}
.panel .arbitrary_price_form_group #price_donate.form-control {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px 0 0 5px;
    color: #75b836;
    border-right: 0;
    border-left: 2px solid #75b836;
    border-top: 2px solid #75b836;
    border-bottom: 2px solid #75b836;
    font-size: 18px;
    text-align: left;
}
.panel .arbitrary_price_form_group #price_donate.form-control:hover,
.panel .arbitrary_price_form_group #price_donate.form-control:focus {
    background-color: #e8f1db;
    border-right: 0;
    border-left: 2px solid #003d84;
    border-top: 2px solid #003d84;
    border-bottom: 2px solid #003d84;
}
.panel .arbitrary_price_form_group #price_donate.form-control:hover + .arbitrary_price_currency,
.panel .arbitrary_price_form_group #price_donate.form-control:focus + .arbitrary_price_currency {
    border-color: #003d84;
    background-color: #e8f1db;
}

.panel .arbitrary_price_form_group .input-group-addon {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0 5px 5px 0;
    border: 2px solid #75b836;
    border-left: 0;
    color: #75b836;
}

.panel .arbitrary_price_form_group .input-group-addon:hover,
.panel .arbitrary_price_form_group .input-group-addon:focus {
    background-color: #e8f1db;
    border-left: 0;
    border-right: 2px solid #003d84;
    border-top: 2px solid #003d84;
    border-bottom: 2px solid #003d84;
}
.panel .donation_button_group:not(.arbitrary_price_form_group) {
    width: 50%;
    margin-bottom: 0;
    padding: 0;
}

.panel .form-group.donation_button_106 {
    border-right: 2px solid #e8f1db;
    border-bottom: 2px solid #e8f1db;
}
.panel .form-group div[class^="donation_button-"] {
    border-right: 2px solid #e8f1db;
    border-bottom: 2px solid #e8f1db;
}
.panel .form-group.donation_button_108 {
    border-bottom: 2px solid #e8f1db;
}
.panel .form-group.donation_button_109 {
    border-right: 2px solid #e8f1db;
}
.panel button {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    border: 0;
    box-shadow: unset;
    text-shadow: unset;
    font-size: 46px;
    line-height: 50px;
    color: #75b836;
}
.panel .form-control {
    font-size: 20px;
    line-height: 25px;
    overflow: hidden;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 10px 8px;
    width: 100%;
    border: 2px #75b836 solid;
    border-radius: 25px;
    color: #75b836;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 72px;
    cursor: pointer;
    transition: background-color 0.25s ease-out, color 0.25s ease-out, border-color 0.25s ease-out;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1rem;
    margin: 0 0 0 auto;
    box-shadow: none;
}
.panel .form-control:not(.arbitrary_price_input) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8'%3E%3Cpath fill='%2375B836' d='M9.22509,0 C9.43419,0 9.61562,0.103791 9.76937,0.311377 C9.92312,0.518963 10,0.750498 10,1.00599 C10,1.26148 9.92005,1.49301 9.76015,1.7006 L4.99999998,8 L0.221402,1.7006 C0.0737999,1.50898 -2.56885e-08,1.27745 -2.02297e-08,1.00599 C-1.47708e-08,0.73453 0.076875,0.499003 0.230627,0.299401 C0.38438,0.0997994 0.565805,0 0.774908,0 L9.22509,0 Z'/%3E%3C/svg%3E");
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}
.panel select.form-control:hover,
.panel select.form-control:focus {
    border: 2px #003d84 solid;
    color: #003d84;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8'%3E%3Cpath fill='%23003d84' d='M9.22509,0 C9.43419,0 9.61562,0.103791 9.76937,0.311377 C9.92312,0.518963 10,0.750498 10,1.00599 C10,1.26148 9.92005,1.49301 9.76015,1.7006 L4.99999998,8 L0.221402,1.7006 C0.0737999,1.50898 -2.56885e-08,1.27745 -2.02297e-08,1.00599 C-1.47708e-08,0.73453 0.076875,0.499003 0.230627,0.299401 C0.38438,0.0997994 0.565805,0 0.774908,0 L9.22509,0 Z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 10px 8px;
}
.panel #add_to_cart.btn {
    float: unset;
    min-width: 100%;
    margin-right: 0;
    text-shadow: unset;
    box-shadow: unset;
}
.panel #add_to_cart.btn span:after {
    content: unset;
}


body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wrapwrap main #wrap #product_detail .product_price .btn {
    border-radius: 0;
    background-color: unset;
    color: #75b836;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wrapwrap main #wrap #product_detail .product_price .btn:hover {
    border-radius: 0;
    background-color: #e8f1db;
    color: #75b836;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wrapwrap main #wrap #product_detail #add_to_cart.btn-xl {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='11' viewBox='0 0 8 11'%3E%3Cpath fill='%2375B836' d='M-5.06527e-07,1.27491 C-5.18008e-07,1.06581 0.103791,0.88438 0.311377,0.730628 C0.518963,0.576876 0.750498,0.5 1.00599,0.5 C1.26148,0.5 1.49301,0.57995 1.7006,0.739853 L7.99999949,5.5 L1.7006,10.2786 C1.50898,10.4262 1.27745,10.5 1.00599,10.5 C0.73453,10.5 0.499003,10.4231 0.299401,10.2694 C0.0997994,10.1156 -3.10669e-08,9.9342 -4.25482e-08,9.72509 L-5.06527e-07,1.27491 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 95px) center;
    background-color: #003d84;
    border-color: rgba(0, 0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0;
    padding: 10px 25px;
    border-radius: 25px;
    text-align: center;
    margin-top: 0;
    margin-right: 0;
    float: unset;
    min-width: 100%;
    text-shadow: unset;
    box-shadow: unset;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wrapwrap main #wrap #product_detail #add_to_cart span:after {
    content: unset;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wrapwrap main #wrap #product_detail #add_to_cart:hover,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wrapwrap main #wrap #product_detail #add_to_cart:hover {
    background-size: 10px 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='11' viewBox='0 0 8 11'%3E%3Cpath fill='%23FFFFFF' d='M-5.06527e-07,1.27491 C-5.18008e-07,1.06581 0.103791,0.88438 0.311377,0.730628 C0.518963,0.576876 0.750498,0.5 1.00599,0.5 C1.26148,0.5 1.49301,0.57995 1.7006,0.739853 L7.99999949,5.5 L1.7006,10.2786 C1.50898,10.4262 1.27745,10.5 1.00599,10.5 C0.73453,10.5 0.499003,10.4231 0.299401,10.2694 C0.0997994,10.1156 -3.10669e-08,9.9342 -4.25482e-08,9.72509 L-5.06527e-07,1.27491 Z'/%3E%3C/svg%3E");
    background-color: #75b836;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wrapwrap main #wrap #product_detail .product_price .arbitrary_price_form_group .form-control {
    font-size: 18px;
    color: #3d3d3c;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wrapwrap main #wrap #product_detail .product_price .arbitrary_price_form_group .form-control#price_donate:focus{
    background-color: #e8f1db;
    color: #3d3d3c;
}
