
@font-face {
  font-family: "AvenirLTStd";
  src: url("/gl2k_config/static/src/css/gl2k_theme_2022/Fonts/AvenirLTStd-HeavyOblique.woff2") format("woff2"), url("/gl2k_config/static/src/css/gl2k_theme_2022/Fonts/AvenirLTStd-HeavyOblique.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "AvenirLTStd";
  src: url("/gl2k_config/static/src/css/gl2k_theme_2022/Fonts/AvenirLTStd-Heavy.woff2") format("woff2"), url("/gl2k_config/static/src/css/gl2k_theme_2022/Fonts/AvenirLTStd-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirLTStd";
  src: url("/gl2k_config/static/src/css/gl2k_theme_2022/Fonts/AvenirLTStd-Roman.woff2") format("woff2"), url("/gl2k_config/static/src/css/gl2k_theme_2022/Fonts/AvenirLTStd-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirLTStd";
  src: url("/gl2k_config/static/src/css/gl2k_theme_2022/Fonts/AvenirLTStd-LightOblique.woff2") format("woff2"), url("/gl2k_config/static/src/css/gl2k_theme_2022/Fonts/AvenirLTStd-LightOblique.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "AvenirLTStd";
  src: url("/gl2k_config/static/src/css/gl2k_theme_2022/Fonts/AvenirLTStd-Light.woff2") format("woff2"), url("/gl2k_config/static/src/css/gl2k_theme_2022/Fonts/AvenirLTStd-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirLTStd";
  src: url("/gl2k_config/static/src/css/gl2k_theme_2022/Fonts/AvenirLTStd-Oblique.woff2") format("woff2"), url("/gl2k_config/static/src/css/gl2k_theme_2022/Fonts/AvenirLTStd-Oblique.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
