@font-face {
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/glyphicons/glyphicons-halflings-regular.eot");
    src: url("assets/fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("assets/fonts/glyphicons/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("assets/fonts/glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg")
}
@font-face {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    url("/assets/fonts/rubik/rubik-v20-latin-regular.woff2") format("woff2"),
    url("/assets/fonts/rubik/rubik-v20-latin-regular.woff") format("woff");
}
#wrapwrap {
    font-family: "Rubik", sans-serif;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wrapwrap main #wrap #wsd_checkout_steps_nav .checkout_steps_navigation ul.checkout_steps_indicator.nav-tabs li a,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wrapwrap main #wrap #wsd_checkout_steps_nav .checkout_steps_navigation ul.checkout_steps_indicator.nav-tabs li a:hover {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
}
h4 {
    text-transform: initial;
    -webkit-hyphens: unset;
    -ms-hyphens: unset;
    hyphens: unset;
    overflow-wrap: unset;
}
.arbitrary_price_form_group {
    margin-top: 12px;
    padding: 0;
}
.arbitrary_price_form_group #price_donate.form-control {
    text-align: left;
    color: #75b836;
    border-top: 2px solid #75b836;
    border-right: 0;
    border-bottom: 2px solid #75b836;
    border-left: 2px solid #75b836;
    border-radius: 5px 0 0 5px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
}
.arbitrary_price_form_group #price_donate.form-control:hover,
.arbitrary_price_form_group #price_donate.form-control:focus {
    border-top: 2px solid #003d84;
    border-right: 0;
    border-bottom: 2px solid #003d84;
    border-left: 2px solid #003d84;
    background-color: #e8f1db;
}
.arbitrary_price_form_group #price_donate.form-control:hover + .arbitrary_price_currency,
.arbitrary_price_form_group #price_donate.form-control:focus + .arbitrary_price_currency {
    border-color: #003d84;
    background-color: #e8f1db;
}

.arbitrary_price_form_group .input-group-addon {
    color: #75b836;
    border: 2px solid #75b836;
    border-left: 0;
    border-radius: 0 5px 5px 0;
    background-color: rgba(0, 0, 0, 0);
}

.arbitrary_price_form_group .input-group-addon:hover,
.arbitrary_price_form_group .input-group-addon:focus {
    border-top: 2px solid #003d84;
    border-right: 2px solid #003d84;
    border-bottom: 2px solid #003d84;
    border-left: 0;
    background-color: #e8f1db;
}
.donation_button_group:not(.arbitrary_price_form_group) {
    width: 50%;
    margin-bottom: 0;
    padding: 0;
}

.oe_price_h4 .form-group.donation_button_group:nth-child(4) {
    border-right: 2px solid #e8f1db;
    border-bottom: 2px solid #e8f1db;
}
.form-group div[class^="donation_button-"] {
    border-right: 2px solid #e8f1db;
    border-bottom: 2px solid #e8f1db;
}

.oe_price_h4 .form-group.donation_button_group:nth-child(5) {
    border-bottom: 2px solid #e8f1db;
}
.oe_price_h4 .form-group.donation_button_group:nth-child(7) {
    border-right: 2px solid #e8f1db;
}
button {
    color: #75b836;
    border: 0;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: unset;
    text-shadow: unset;
    font-size: 46px;
    line-height: 50px;
}
.form-control {
    display: inline-flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin: 0 0 0 auto;
    padding: 5px 12px;
    cursor: pointer;
    transition: background-color 0.25s ease-out, color 0.25s ease-out, border-color 0.25s ease-out;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1rem;
    color: #3B3B3A;
    border: 2px #75b836 solid;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 10px 8px;
    box-shadow: none;
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
}
.form-control:hover,
.form-control:focus {
    border-color: #003d84;
    outline: 0;

    box-shadow: unset;
}
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
select.form-control:not(.arbitrary_price_input){
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8'%3E%3Cpath fill='%2375B836' d='M9.22509,0 C9.43419,0 9.61562,0.103791 9.76937,0.311377 C9.92312,0.518963 10,0.750498 10,1.00599 C10,1.26148 9.92005,1.49301 9.76015,1.7006 L4.99999998,8 L0.221402,1.7006 C0.0737999,1.50898 -2.56885e-08,1.27745 -2.02297e-08,1.00599 C-1.47708e-08,0.73453 0.076875,0.499003 0.230627,0.299401 C0.38438,0.0997994 0.565805,0 0.774908,0 L9.22509,0 Z'/%3E%3C/svg%3E");
}
select.form-control:hover,
select.form-control:focus {
    color: #003d84;
    border: 2px #003d84 solid;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8'%3E%3Cpath fill='%23003d84' d='M9.22509,0 C9.43419,0 9.61562,0.103791 9.76937,0.311377 C9.92312,0.518963 10,0.750498 10,1.00599 C10,1.26148 9.92005,1.49301 9.76015,1.7006 L4.99999998,8 L0.221402,1.7006 C0.0737999,1.50898 -2.56885e-08,1.27745 -2.02297e-08,1.00599 C-1.47708e-08,0.73453 0.076875,0.499003 0.230627,0.299401 C0.38438,0.0997994 0.565805,0 0.774908,0 L9.22509,0 Z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 10px 8px;
}
#add_to_cart.btn {
    float: unset;
    min-width: 100%;
    margin-right: 0;
    box-shadow: unset;
    text-shadow: unset;
}
#add_to_cart.btn span:after {
    content: unset;
}

body[data-on-shop-page="True"][data-latest-product-theme="gl2k_inline_test"]:not([data-confirmation-controller-called="True"]) #wrapwrap main #wrap #product_detail .product_price .btn {
    color: #75b836;
    border-radius: 0;
    background-color: unset;
    border: 0;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    line-height: 1;
    padding: 10px 25px;
}
body[data-on-shop-page="True"][data-latest-product-theme="gl2k_inline_test"]:not([data-confirmation-controller-called="True"]) #wrapwrap main #wrap #product_detail .product_price .btn:hover,
body[data-on-shop-page="True"][data-latest-product-theme="gl2k_inline_test"]:not([data-confirmation-controller-called="True"]) #wrapwrap main #wrap #product_detail .product_price .btn:focus {
    color: #75b836;
    border-radius: 0;
    background-color: #e8f1db;
}
body[data-on-shop-page="True"][data-latest-product-theme="gl2k_inline_test"]:not([data-confirmation-controller-called="True"]) #wrapwrap main #wrap #product_detail #add_to_cart.btn-xl {
    float: unset;
    min-width: 100%;
    margin-top: 0;
    margin-right: 0;
    padding: 10px 25px;
    text-align: center;
    letter-spacing: 0;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 25px;
    background-color: #003d84;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='11' viewBox='0 0 8 11'%3E%3Cpath fill='%2375B836' d='M-5.06527e-07,1.27491 C-5.18008e-07,1.06581 0.103791,0.88438 0.311377,0.730628 C0.518963,0.576876 0.750498,0.5 1.00599,0.5 C1.26148,0.5 1.49301,0.57995 1.7006,0.739853 L7.99999949,5.5 L1.7006,10.2786 C1.50898,10.4262 1.27745,10.5 1.00599,10.5 C0.73453,10.5 0.499003,10.4231 0.299401,10.2694 C0.0997994,10.1156 -3.10669e-08,9.9342 -4.25482e-08,9.72509 L-5.06527e-07,1.27491 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 95px) center;
    box-shadow: unset;
    text-shadow: unset;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
}
body[data-on-shop-page="True"][data-latest-product-theme="gl2k_inline_test"]:not([data-confirmation-controller-called="True"]) #wrapwrap main #wrap #product_detail #add_to_cart span:after {
    content: unset;
}
body[data-on-shop-page="True"][data-latest-product-theme="gl2k_inline_test"]:not([data-confirmation-controller-called="True"]) #wrapwrap main #wrap #product_detail #add_to_cart:hover,
body[data-on-shop-page="True"][data-latest-product-theme="gl2k_inline_test"]:not([data-confirmation-controller-called="True"]) #wrapwrap main #wrap #product_detail #add_to_cart:hover {
    background-color: #75b836;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='11' viewBox='0 0 8 11'%3E%3Cpath fill='%23FFFFFF' d='M-5.06527e-07,1.27491 C-5.18008e-07,1.06581 0.103791,0.88438 0.311377,0.730628 C0.518963,0.576876 0.750498,0.5 1.00599,0.5 C1.26148,0.5 1.49301,0.57995 1.7006,0.739853 L7.99999949,5.5 L1.7006,10.2786 C1.50898,10.4262 1.27745,10.5 1.00599,10.5 C0.73453,10.5 0.499003,10.4231 0.299401,10.2694 C0.0997994,10.1156 -3.10669e-08,9.9342 -4.25482e-08,9.72509 L-5.06527e-07,1.27491 Z'/%3E%3C/svg%3E");
    background-size: 10px 8px;
}
body[data-on-shop-page="True"][data-latest-product-theme="gl2k_inline_test"]:not([data-confirmation-controller-called="True"]) #wrapwrap main #wrap #product_detail .product_price .arbitrary_price_form_group .form-control {
    color: #3d3d3c;
    font-size: 18px;
}
body[data-on-shop-page="True"][data-latest-product-theme="gl2k_inline_test"]:not([data-confirmation-controller-called="True"]) #wrapwrap main #wrap #product_detail .product_price .arbitrary_price_form_group .form-control#price_donate:focus {
    color: #3d3d3c;
    background-color: #e8f1db;
}
.billing-fields .form-control {
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: normal;
    text-align: left;
    font-family: "Rubik", sans-serif;
}
label.control-label.mandatory.text-danger:after {
    content: '*';
    color: red;
}
.form-group.f-type-date .information-modal-box-trigger{
    text-align: center;
}
.form-group.f-type-date .information-modal-box-trigger span {
    width: 16px;
    height: 16px;
    display: inline-block;
    padding: 2px;
    border-radius: 16px;
    position: relative;
    top: -6px;
}
.form-group.f-type-date .information-modal-box-trigger span:before {
    color: #75b836;
}
.form-group.f-type-date .information-modal-box-trigger span:hover:before {
    color: #003d84;
}

body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wrapwrap main #wrap #website_sale_donate input:focus {
    border: 2px #003d84 solid;
    font-family: "Rubik", sans-serif;
    box-shadow: unset;
}
.has-error .form-control,
.has-error .form-control:focus {
    border-color: red;
    box-shadow: unset;
}
.has-error .form-control-feedback,
.text-danger,
.has-error .control-label {
    color: red;
}
#wsd_checkout_form .billing-fields .form-control-feedback {
    right: 42px;
    font-size: 16px;
    border-radius: 24px;
    width: 24px;
    height: 24px;
    line-height: 25px;
    top: 37px;
}
#wsd_checkout_form .billing-fields .form-control-feedback.glyphicon-ok {
    color: white;
    background-color: #75b836;
}
#wsd_checkout_form .billing-fields .form-control-feedback.glyphicon-remove {
    color: white;
    background-color: red;
}
a {
    color: #75b836;
}
a:hover,
a:focus {
    color: #003d84
}
.payment_interval_ids .form-control-feedback {
    display: none;
}
.wsd_opc_payment .form-control {
    border-radius: 5px;
    color: #3c3c3b;
    font-family: "Rubik", sans-serif;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: normal;

}
.wsd_opc_payment .form-control:focus {
    border-radius: 5px;
    border-color: #003d84;
    box-shadow: unset;
}
.has-success .form-control {
    border-color: #75b836;
    box-shadow: unset
}
.wsd_button_back_to_page,
.btn-default,
.btn.pull-right,
.btn-default {
    padding: 10px 25px;
    text-align: center;
    letter-spacing: 0;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 25px;
    background-color: #003d84;
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 22px;
}
.wsd_button_back_to_page:hover,
.wsd_button_back_to_page:focus,
.btn.pull-right:hover,
.btn.pull-right:focus,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
    border-color: rgba(0, 0, 0, 0);
    border-radius: 25px;
    background-color: #75b836;
    color: white
}


.fa-search {
    height: 16px;
    width: 16px;
}

.fa-search:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z'/%3E%3C/svg%3E");
}
.fa {
    font-family: "Rubik", sans-serif !important;
}
.fa-shopping-cart:before {
    content: ""
}
.fa-shopping-cart:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='11' viewBox='0 0 8 11'%3E%3Cpath fill='%23FFFFFF' d='M-5.06527e-07,1.27491 C-5.18008e-07,1.06581 0.103791,0.88438 0.311377,0.730628 C0.518963,0.576876 0.750498,0.5 1.00599,0.5 C1.26148,0.5 1.49301,0.57995 1.7006,0.739853 L7.99999949,5.5 L1.7006,10.2786 C1.50898,10.4262 1.27745,10.5 1.00599,10.5 C0.73453,10.5 0.499003,10.4231 0.299401,10.2694 C0.0997994,10.1156 -3.10669e-08,9.9342 -4.25482e-08,9.72509 L-5.06527e-07,1.27491 Z'/%3E%3C/svg%3E");
    margin-left: 12px;
}

.quick_add_to_cart {
    text-align: right;
    margin-top: 18px;
}
.text-primary {
    color: #75b836;
}
.text-info {
    color: #3B3B3A;
}
.oe_product.oe_grid {
    box-shadow: unset;
    border: 2px solid #e8f1db;
    transition: all 0.6s ease 0s;
}
.oe_product.oe_grid:hover {
    box-shadow: unset;
    border: 2px solid #e8f1db;
    background-color:  #e8f1db;
    transition: all 0.6s ease 0s;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wrapwrap main #wrap #website_sale_donate input {
    font-family: "Rubik", sans-serif;
    font-weight: normal;
}
input::placeholder {
    font-weight: normal;
}
.wsd_opc_payment,
.wsd_opc_delivery {
    margin-bottom: 24px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: white;
    cursor: default;
    background-color: #003d84;
    border-color: #003d84;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #003d84;
    text-decoration: none;
    background-color: white;
    border: 1px solid #003d84;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #3d3d3c;
    cursor: not-allowed;
    background-color: white;
    border-color: #003d84;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: white;
    background-color: #003d84;
    border-color: #003d84;
}
.pagination.form-inline .input-group-btn a {
    height: 34px;
    vertical-align: middle;
    align-items: center;
    display: flex;
    background: #003d84;
    border-radius: 0 5px 5px 0;
}
.pagination.form-inline .input-group-btn a:hover {
    background-color: #75b836;
}
.search-query.form-control {
    border-radius: 5px 0 0 5px;
    border-color: #003d84;
    border-right: 0;
    height: 34px;
}
.search-query.form-control:focus {
    border-radius: 5px 0 0 5px;
    border-right: 0;
    border-color: #75b836;
    box-shadow: unset;
}
