/* global 2000 product theme */
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wrapwrap main #wrap #wsd-checkout-box .panel {
  border-color: transparent;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wrapwrap main #wrap a.btn span.glyphicon {
  top: 3px;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wrapwrap main #wrap .checkout_steps_buttons {
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wrapwrap main #wrap .container.oe_website_sale {
  border: none;
  background: url(https://www.global2000.at/profiles/global/themes/global_action_theme/css/images/Textures_beige.jpg) repeat #fafafa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  margin-left: 7px;
  color: #3c3c3b;
  font-family: sans-serif, Nunito Sans;
  font-weight: bold;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wrapwrap main #wrap input,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wrapwrap main #wrap .radio label,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wrapwrap main #wrap #wsd_checkout_form label {
  color: #3c3c3b;
  font-family: sans-serif, Nunito Sans;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wrapwrap main #wrap input {
  font-weight: bold;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .btn {
  border-radius: 5px;
  font-size: 24px;
  font-family: sans-serif, Rubik, Nunito Sans;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .btn-default {
  background: none;
  background-color: white;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .btn-primary,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .btn-primary:active,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .btn-primary:focus,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .btn-primary:hover,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) btn-primary > a:visited {
  background: none;
  background-color: #d9435d;
  border-color: #ad2a2a;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .btn:focus,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .btn:active:focus,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .btn.active:focus,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .btn.focus,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .btn:active.focus,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .btn.active.focus {
  outline: 0 auto transparent;
  outline-color: transparent;
  outline-style: auto;
  outline-width: 0;
  outline-offset: 0;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_steps_nav {
  padding-left: 0;
  padding-right: 0;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_steps_nav .checkout_steps_navigation {
  background-color: transparent;
  font-family: sans-serif, Nunito Sans;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_steps_nav .checkout_steps_navigation ul.checkout_steps_indicator.nav-tabs li a,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_steps_nav .checkout_steps_navigation ul.checkout_steps_indicator.nav-tabs li a:hover,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_steps_nav .checkout_steps_navigation ul.checkout_steps_indicator.nav-tabs li a:focus {
  padding: 0;
  line-height: 49px;
  border: none;
  color: #3c3c3b;
  text-align: center;
  background-color: white;
  font-family: Nunito Sans;
  font-weight: bold;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_steps_nav .checkout_steps_navigation ul.checkout_steps_indicator.nav-tabs li a .csi_tab_after,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_steps_nav .checkout_steps_navigation ul.checkout_steps_indicator.nav-tabs li a:hover .csi_tab_after,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_steps_nav .checkout_steps_navigation ul.checkout_steps_indicator.nav-tabs li a:focus .csi_tab_after {
  width: 25px;
  height: 49px;
  display: inline-block;
  position: absolute;
  right: -25px;
  vertical-align: top;
  overflow: hidden;
  z-index: 3;
  background-color: transparent;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_steps_nav .checkout_steps_navigation ul.checkout_steps_indicator.nav-tabs li a .csi_tab_after span,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_steps_nav .checkout_steps_navigation ul.checkout_steps_indicator.nav-tabs li a:hover .csi_tab_after span,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_steps_nav .checkout_steps_navigation ul.checkout_steps_indicator.nav-tabs li a:focus .csi_tab_after span {
  position: relative;
  width: 49px;
  height: 49px;
  display: inline-block;
  margin-left: -45px;
  background-color: white;
  border: 1px solid darkgray;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_steps_nav .checkout_steps_navigation ul.checkout_steps_indicator.nav-tabs li.active a,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_steps_nav .checkout_steps_navigation ul.checkout_steps_indicator.nav-tabs li.active a:hover,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_steps_nav .checkout_steps_navigation ul.checkout_steps_indicator.nav-tabs li.active a:focus {
  background-color: #75b836;
  color: white;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_steps_nav .checkout_steps_navigation ul.checkout_steps_indicator.nav-tabs li.active a .csi_tab_after span,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_steps_nav .checkout_steps_navigation ul.checkout_steps_indicator.nav-tabs li.active a:hover .csi_tab_after span,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_steps_nav .checkout_steps_navigation ul.checkout_steps_indicator.nav-tabs li.active a:focus .csi_tab_after span {
  background-color: #75b836;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_steps_nav .checkout_steps_navigation ul.checkout_steps_indicator.nav-tabs li:last-child a .csi_tab_after,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_steps_nav .checkout_steps_navigation ul.checkout_steps_indicator.nav-tabs li:last-child a:hover .csi_tab_after,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #wsd_checkout_steps_nav .checkout_steps_navigation ul.checkout_steps_indicator.nav-tabs li:last-child a:focus .csi_tab_after {
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #product_detail .amount_title {
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #product_detail .product_price .btn {
  border-radius: 6px;
  font-size: 24px;
  font-family: sans-serif, Rubik, Nunito Sans;
  font-weight: bold;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #product_detail .product_price .btn-default {
  background: none;
  background-color: white;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #product_detail .product_price .btn-primary,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #product_detail .product_price .btn-primary:active,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #product_detail .product_price .btn-primary:focus,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #product_detail .product_price .btn-primary:hover,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #product_detail .product_price btn-primary > a:visited {
  background: none;
  background-color: #75b836;
  border-color: #7da359;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #product_detail .product_price .arbitrary_price_form_group .form-control {
  border-right: none;
  border-radius: 5px 0 0 5px;
  font-size: 24px;
  font-family: sans-serif, Rubik, Nunito Sans;
  font-weight: bold;
  height: 50px;
  text-align: center;
  color: #75b836;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #product_detail .product_price .arbitrary_price_form_group .input-group-addon {
  background: none;
  background-color: white;
  border-radius: 0 5px 5px 0;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #product_detail .payment_interval_ids > hr {
  margin: 0 6px;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #product_detail .payment_interval_ids > small {
  color: #3c3c3b;
  font-family: sans-serif, Nunito Sans;
  font-weight: bold;
  margin: 1.5em 0 1em 0;
  display: block;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #product_detail .payment_interval_lines_ids .form-group .radio {
  display: inline;
  padding-left: 24px;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #product_detail .payment_interval_lines_ids .form-group input[type="radio"] {
  margin-top: 10px;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #product_detail #add_to_cart.btn-xl {
  padding: 10px 20px;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #product_detail #add_to_cart {
  float: right;
  min-width: 44%;
  margin-right: 16px;
  text-align: left;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #product_detail #add_to_cart span:after {
  font-family: "Glyphicons Halflings";
  float: right;
  content: "\e080";
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .ppt_opc #website_sale_donate > .container {
  border: none;
  background: url(https://www.global2000.at/profiles/global/themes/global_action_theme/css/images/Textures_beige.jpg) repeat #fafafa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  color: #3c3c3b;
  font-family: sans-serif, Nunito Sans;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 2em;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .wsd_checkout_pages_snippets_top,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .wsd_checkout_page_bottom {
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .wsd_checkout_page_content {
  padding-bottom: 1em;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .wsd_checkout_page_content .checkout_title {
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .wsd_checkout_page_content #wsd_checkout_page_right_column {
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .wsd_checkout_page_content #wsd_checkout_page_left_column {
  width: 100%;
  padding: 12px 32px;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .wsd_checkout_page_content #wsd_checkout_page_left_column .billing-fields {
  padding-bottom: 2em;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .wsd_checkout_page_content .form-control {
  border-radius: 5px;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .wsd_payment_page_content {
  padding-bottom: 1em;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .wsd_payment_page_content .small_cart_header,
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .wsd_payment_page_content .small_cart {
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .wsd_payment_page_content #wsd_payment_page_left_col {
  width: 100%;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .wsd_payment_page_content #wsd_payment_page_left_col .payment_opc_acquirer_form {
  text-align: center;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .wsd_payment_page_content #wsd_payment_page_left_col .payment_opc_acquirer_form div {
  text-align: left;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .wsd_payment_page_content #wsd_payment_page_right_col {
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) .wsd_payment_page_bottom {
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #payment_method .payment_title {
  text-align: center;
  margin-bottom: 1em;
  font-weight: bold;
  display: none;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #payment_method ul.nav.nav-tabs li {
  background-color: rgba(196, 195, 195, 0.39);
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #payment_method ul.nav.nav-tabs li a {
  margin: 0;
  border-left: 1px solid rgba(196, 195, 195, 0.39);
  border-right: 1px solid rgba(196, 195, 195, 0.39);
  border-top: 1px solid rgba(196, 195, 195, 0.39);
  text-align: center;
  padding: 14px 26px;
  color: #003d84;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #payment_method ul.nav.nav-tabs li .tab-acquirer-image img {
  height: 33px;
  margin: auto;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #payment_method .tab-content {
  background-color: white;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
body[data-on-shop-page=True][data-latest-product-theme=gl2k_inline_test]:not([data-confirmation-controller-called=True]) #payment_method .tab-content > .tab-pane > div {
  padding: 1em;
}
