/* ---------- */
/* RESPONSIVE */
/* ---------- */

@media only screen and (max-width: 480px) {
    /*#pfot_header_body {*/
    /*    display: none !important;*/
    /*}*/

    /*#pfot_header_body, #emailBody, #pfot_footer_body,*/
    /*table.flexibleContainer {*/
    /*    width: 100% !important;*/
    /*}*/
    #combinedheadersnippet .flexibleContainerRight img.flexibleImage {
        width: 30% !important;
        margin: auto !important;
        float: right !important;
    }
    #combinedheadersnippetNPG .flexibleContainerRight img.flexibleImage {
        width: 30% !important;
        margin: auto !important;
        float: right !important;
    }
    .snippet_block_text_twocol img.flexibleImage,
    .snippet_block_text_threecol img.flexibleImage {
        margin-bottom: 10px;
    }
    #combinedheadersnippet table.flexibleContainerRight,
    #combinedheadersnippet table.flexibleContainerLeft,
    #combinedheadersnippet table.flexibleContainer33 {
        margin-bottom: none !important;
    }
    #combinedsnippetfooter #mediaicons table.flexibleContainerLeft img.flexibleImage {
        width: 32px !important;
    }
    #mediaicons img.flexibleImage.mediaicon {
        width: 32px !important;
        display: initial;
    }
    #combinedsnippetfooter .snippet_block_text_four_colums > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table {
        width: 100%;
    }
    #emailBody,
    table.flexibleContainer {
        width: 100% !important;
    }

    .h1, h1{
        font-size: 24px;
        padding-bottom: 12px;
        font-weight: 700;
    }

    .h2, h2{
        font-size: 22px;
        font-weight: 700;
    }

    .h3, h3{
        font-size: 20px;
        font-weight: 300;
    }

    .h4, h4{
        font-size: 18px;
        font-weight: 300;
    }

    .h5, h5{
        font-size: 16px;
        font-weight: 300;
    }

    .h6, h6{
        font-size: 14px;
        font-weight: 300;
    }

    .snippet_block_text_image_left.gl2k_text_image_gl2kgrey_box .flexibleContainerRight .textContent,
    .snippet_block_text_image_left.gl2k_text_image_red_box .flexibleContainerRight .textContent {
        padding: 10px 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;

    }
    body #emailBody .snippet_block_text_image_left .flexibleContainerLeft {
    min-height: inherit;
}

}
