/* ---------- */
/* GARDEN MAP */
/* ---------- */
#gardenMap {
     height: 600px;
     position: relative;
}
@media (max-width: 768px) {
    #gardenMap {
         height: 400px;
    }
}

.leaflet-map-pane svg {
    width: unset;
    height: unset;
}

.leaflet-div-icon {
    border: none;
    background-color: transparent;
}

/* hack for control container */
.leaflet-left {
    left: unset;
    right: 10px;
}

/* -------- */
/*  Marker  */
/* -------- */
.gardenMapCommunityM2 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 70px;
    margin: auto;
    /*position: relative;
    top: -20px;*/
}
.gardenMapMarkerIcon {
    width: 40px;
    height: 40px;
}
.gardenMapCommunityMakerImg {
    width: 40px;
    height: 40px;
    /*position: relative;
    top: -20px;*/
}
/* -------- */
/* INFO BOX */
/* -------- */
#gardenMapInfoBox {
    background: white;
    z-index: 500;
    padding: 15px 30px;
    border-bottom-right-radius: 45px;
    border-top-left-radius: 45px;
    border: 2px solid rgba(201,214,186, .25);
    width: 175px;
    top: 22px;
    left: 22px;
    position: absolute;
    font-size: 12px;
}
#gardenMapInfoBox p{
    margin: 0 0 0.25em 0;
}
#gardenMapInfoBox .totalgardensize {
    font-weight: bold;
    font-size: 16px;
}
@media (max-width: 414px) {
    #gardenMapInfoBox,
    #gardenMapInfoBox p,
    #gardenMapInfoBox .totalgardensize {
        font-size: 11px;
    }
}
