/* ---------- */
/* GARDEN MAP */
/* ---------- */
#gardenMap {
     height: 600px;
     position: relative;

}

.leaflet-map-pane svg {
    width: unset;
    height: unset;
}

.leaflet-div-icon {
    border: none;
    background-color: transparent;
}

/* hack for control container */
.leaflet-left {
    left: unset;
    right: 10px;
}


/* -------- */
/*  Marker  */
/* -------- */
.gardenMapMarkerIcon {
    width: 60px;
    font-family: "Nunito Sans", "Open Sans", "Roboto", Helvetica, Arial, sans-serif;
}


.gardenMapCommunityMaker {
    width: auto;
    text-align: center;
    font-family: "Nunito Sans", "Open Sans", "Roboto", Helvetica, Arial, sans-serif;
}

.gardenMapCommunityMaker .gardenMapCommunityMakerOuter {
    width: 100%;
    margin: 0 auto;
    position: absolute;
}
.gardenMapCommunityMakerImg {
    width: 60px;
}

.gardenMapCommunityMakerText {
    font-size: 22px;
    font-weight: bold;
    margin: 0 auto;
    color: #3c3c3b;
    width: max-content;
    min-width: 30px;
}




/* -------- */
/* INFO BOX */
/* -------- */
#gardenMapInfoBox {
    position: absolute;
    top: 28px;
    left: 28px;
    z-index: 500;
    background: transparent;
    border: none;
    width: 175px;
    font-family: "Nunito Sans", "Open Sans", "Roboto", Helvetica, Arial, sans-serif;
}
#gardenMapInfoBox .totalgardensize {
    position: relative;
    margin: 0 auto;
    width: 100%;
}
#gardenMapInfoBox .totalgardensize img.gardenMapInfoBoxBg {
    width: 100%;
}
#gardenMapInfoBox .totalgardensize .gardenMapInfoBoxText {
    position: absolute;
    top: 11px;
    z-index: 505;
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #76b837;
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */
@media (max-width: 768px) {
    #gardenMap {
         height: 400px;
    }
    #gardenMapInfoBox {
        width: 145px;
        top: 18px;
        left: 18px;
    }
    #gardenMapInfoBox .totalgardensize .gardenMapInfoBoxText {
        top: 10px;
        width: 100%;
        font-size: 22px;
    }

}

