
.dit_website_sale_donate_dit_advanced.panel.panel-default {
    box-shadow: none;
    border-color: white;
}

.checkout_steps_buttons.nav.navbar-right {
    display: none;
}

.navbar.checkout_steps_navigation {
    margin: 0;
    /*padding: 0 30px;*/
}

ul.checkout_steps_indicator.nav.nav-tabs.navbar-left {
    width: 100%;
}

h4.payment_interval_ids.payment_interval_lines_ids .form-group .radio {
    display: inline;
    padding-left: 24px;
}

input[type="radio"] {margin-top: 10px;}


.payment_interval_ids > hr {
    /*display: none;*/
}

/* Remove small cart on payment page */
.wsd_payment_page_content .small_cart_header,
.wsd_payment_page_content .small_cart {
    display: none;
}

.wsd_checkout_pages_snippets_top {
    display: none;
}

.wsd_opc_payment .acquirer_pre_msg {
    padding-top: 12px;
}

body .wsd_opc_payment,
body .wsd_opc_delivery {
    margin-top: 12px;
}
body .payment_billing_address {
    margin-top: 24px;
}